body{
    color: firebrick;
   background: rgb(63,222,251);
background: radial-gradient(circle, rgba(63,222,251,1) 0%, rgba(252,70,107,1) 98%);
    text-align: center;
    margin-top: 70px;
}
img{
    height: 700px;
    width: 500;
}
#line{
    height: 6px;
    background-color: black;
    width: 200px;
    margin: 8px auto;
}